.main{
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
}
.right{
    width: 50%;
    margin-right: -28%;
}

.left{
    width: 50%;
    margin-top: 50px;
    line-height: 12px;
    font-size: small;
    color: #2e1932;
}
.mainimg{
    width: 40%;
}
.footer {
    position: absolute;
    top: 40%;
    left: 0%;
    width: 55%;
    background: url('./btmfooter.png') no-repeat;
    height: 30px;
    background-size: cover;
}
span.icon-wrapper {
    float: right;
    margin-right: 73px;
    margin-top: 5px;
}
span.icon-wrapper img {
    height: 20px;
    width: 20px;
    margin-left: 12px;
}
span.connect {
    margin-left: 22%;
    font-size: 13px;
    letter-spacing: 14px;
    height: 100%;
    display: inline-block;
    padding-top: 0px;
    line-height: 30px;
    color: #2e1932;
}
